[submodule "tiny-core"]
	path = tiny-core
	url = https://github.com/royhsu/tiny-core.git
[submodule "tiny-storage"]
	path = tiny-storage
	url = https://github.com/royhsu/tiny-storage.git
[submodule "tiny-kit"]
	path = tiny-kit
	url = https://github.com/royhsu/tiny-kit.git
[submodule "tiny-validation"]
	path = tiny-validation
	url = https://github.com/royhsu/tiny-validation
